# Node.js dependencies
node_modules/
dist/

# Environment files
.env*
!.env.example

# Docker-related files
docker-compose.override.yml

# Database and Firebase configs
mongo-data/
firebase-config/

# Logs and temporary files
logs/
temp/