{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 9999,
  "tabWidth": 2,
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.routes.ts",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
